<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.surveydragon.mapper.SurveyMapper">
     <insert id="insert"> 
   		insert into survey (id, title, purpose, endDate, reward, rewardCount, memberId, url) values
 		(#{id}, #{title}, #{purpose}, #{endDate}, #{reward}, #{rewardCount}, #{memberId}, #{url})
     </insert> 
 	
     <select id="selectByid" resultType="org.tukorea.surveydragon.domain.SurveyVO">
 		select * from survey where id = #{id}
     </select>
 	
     <select id="selectAll" resultType="org.tukorea.surveydragon.domain.SurveyVO">
     <![CDATA[
 		select * from survey
      ]]> 
     </select>
 	
     <update id="update">
	 	update survey set id =#{id}, title =#{title}, purpose =#{purpose},
                      endDate =#{endDate}, reward =#{reward}, rewardCount =#{rewardCount}, memberId =#{memberId}, url =#{url}
		 where id = #{id}
    </update>
 
    <delete id="delete">
		delete from survey where id = #{id}
    </delete>

  <select id="selectByUserId" resultType="org.tukorea.surveydragon.domain.SurveyVO">
    SELECT * FROM survey WHERE memberId = #{memberId}
  </select>
	
</mapper>  

